---
layout: default
title: Home
permalink: /
body_class: index
---

<div class="jumbotron">
    <div class="container-fluid">

        <div class="pos-relative">
            <div id="logoContainer">
                {% for i in (1..24) %}
                    <div id="indexPetal{{ i }}" class="logoPetal indexLogoPetal"></div>
                {% endfor %}
            </div>
        </div>

        <div class="index-heading">
            <div>frian</div><div>@</div><div>github.io</div>
        </div>

        <div class="indexnav" role="navigation" style="width: 100%!important;">
            <ul>
                <!-- <li class="text-center"><a href="/projects">projects</a></li>
                <li class="text-center"><a href="#">about</a></li> -->
            </ul>
        </div>

        {% comment %}
        {% include all_tags.html %}
        {% endcomment %}
    </div>
</div>
