
@import url('https://fonts.googleapis.com/css?family=Lato:100');
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600');

// @import "compass";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/border-radius";


$index-fg-color: #eee;

$gradient-color-1: #ff6000;
$gradient-color-2: #FF9000;
$gradient-color-3: #FFa000;
$gradient-color-4: #Fccc00;
