
.sidebar {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    font-family: 'Muli', sans-serif;
    font-weight: 300;

}


// navbar
.navbar-default {

    border: none;

    background: $gradient-color-2;

    @include background-image(
      radial-gradient(
        at 100% 0,
          $gradient-color-2,
          $gradient-color-1
      )
    );

    border-radius: 0;
}

//
// -- top navbar links
//
.navbar-default .navbar-nav > li > a {
    color:          #eee;
    padding-left:   30px;
    line-height:    160%;
    font-size:      150%;
    padding-bottom:  5px;
    padding-top:     5px;
    // border: 1px solid white;
    width: 100%;
}

// -- hover
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #f9f9f9;
    background-color: darken($gradient-color-1, 4%);
}


// - navbar border
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $gradient-color-1;
}


//
// -- navbar brand
//
.navbar-default .navbar-brand {
    color: #ddd;
    font-size: 150%;
}

// -- hover
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #eee;
}


// -- remove text shaadow
.navbar-brand, .navbar-default .navbar-nav > li > a {
    text-shadow: none;
}


//
// -- navbar toggle menu button
//
.navbar-default .navbar-toggle {
    border-color: darken($gradient-color-1, 10%);
}

// -- hover
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: darken($gradient-color-1, 10%);
}

.navbar-default .navbar-nav > li > a.active {
    background-color: darken($gradient-color-1, 10%);
}


// -- hamburger menu button
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}


// -- full width sidebar menu items
.navbar-collapse {
    padding: 0;
}


ul {
    width: 100%;
}

#sidenav {
    margin: 7.5px 0px;
}

.content {
    margin-top: 50px;
    padding:    10px;
    font-size:  150%;
    font-family: 'Muli', sans-serif;
    background-color: #fff;
}


#topbarLogoContainer {
    position:    relative;
    width:            1px;
    height:           1px;
    top:             10px;
    left:            10px;
}

.topbarLogoPetal {
    height: 20px;
    width:  4px;
}

.topbarTitle {
    display: inline-block;
    top:                0;
    height:          20px;
    margin-left:     50px;
}


.tags {
    font-size: 90%;
    text-align: center;
    line-height: 250%;
    padding: 5px 0;
}


.pageTags {
    text-align: left;
}

// .indexTags {
//     top: 0;
//     left: 0;
//     width: 100%;
//     position: absolute;
//     font-size: 150%;
//     text-align: center;
//     margin: 30px 0;
//     line-height: 300%;
//     border: 1px solid white;
// }

// .pageTags span {
//     padding: 5px 10px;
//     margin: 0 5px;
//     color: $gradient-color-1;
//     border: 2px solid $gradient-color-1;
//     @include border-radius(10px);
// }

.tags span, .pageTags span {
    padding: 5px 10px;
    margin: 0 2px;
    color: $gradient-color-1;
    border: 2px solid $gradient-color-1;
    @include border-radius(10px);
}


.indexTagsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: 120px;
    font-size: 110%;
}

$indexTagsColor: #ddd;

.indexTagsContainer .tags span {

    line-height: 250%;
    color: $indexTagsColor;
    border: 2px solid $indexTagsColor;
    @include border-radius(10px);
    font-size: 150%;
}


@media (min-width: 768px) {

    .top-brand {
        position:                  absolute;
        z-index:                      10000;
        top:                              0;
        right:                          0px;
        padding:                     20px 0;
        width:                         100%;
        height:                        80px;
        border: 1px solid $gradient-color-1;
    }

    #sidebarLogoContainer {
        position: relative;
        float:       right;
        top:          20px;
        right:        50px;
    }

    .sidebarLogoPetal {
        height: 25px;
        width:   5px;
    }

    .sidebar {
        right:       0;
        left:     auto;
        display: table;
        height:   100%;
        width:     25%;
    }

    .sidebarTitle {
        display:     inline-block;
        top:                    0;
        height:              100%;
        line-height:         36px;
        margin-left:         10px;
    }

    .sidebar-navbar-collapse ul li {
        float: none;
    }

    .navbar {
        display:        table-cell;
        vertical-align:     middle;
    }

    .content {
        margin-top:    0;
        padding:    25px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size:    140%;
        line-height:  120%;
        padding-left: 10px;
    }

    .tags span, .pageTags span {
        padding: 10px 20px;
    }

    .indexTagsContainer {
        width: 600px;
        height: 200px;
        margin-left: -300px;
        margin-top: 120px;
        font-size: 110%;
    }

    .tags span, .pageTags span {
        margin: 0 5px;
    }

    .indexTagsContainer .tags span {

        line-height: 300%;
    }
}

@media (min-width: 992px) {
    .content {
        left:       0;
        padding: 50px;
    }
}

@media (min-width: 1200px) {

    .sidebarTitle {
        line-height: 36px;
        margin-left: 20px;
        font-size:   120%;
    }

    pre {
        font-size: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        font-size:    180%;
        line-height:  120%;
        padding-left: 20px;
    }
}
