
@import url('https://fonts.googleapis.com/css?family=Lato:100');

@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700');


@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700');

@import url('https://fonts.googleapis.com/css?family=Raleway:500');

@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300,400');

@import url('https://fonts.googleapis.com/css?family=Work+Sans:100');

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600');

// @import "compass";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/border-radius";

$sidebar-bg: #060;

$border-color: #040;

.sidebar {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    font-family: 'Muli', sans-serif;
    font-weight: 300;

}


// navbar
.navbar-default {

    border-color: red;

    background: $gradient-color-2;

    @include background-image(
      radial-gradient(
        at 0 0,
          $gradient-color-2,
          $gradient-color-1
      )
    );

    border-radius: 0;
}

//
// -- top navbar links
//
.navbar-default .navbar-nav > li > a {
    color: #eee;
    padding-left: 30px;
    line-height: 160%;
    font-size: 150%;
    padding-bottom: 5px;
    padding-top: 5px;
}

// -- hover
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #f9f9f9;
    background-color: darken($gradient-color-1, 4%);
}


// - navbar border
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $border-color;
}


//
// -- navbar brand
//
.navbar-default .navbar-brand {
    color: #ddd;
    font-size: 150%;
    // font-weight: 600;
}

// -- hover
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #eee;
}


// -- remove text shaadow
.navbar-brand, .navbar-default .navbar-nav > li > a {
    text-shadow: none;
}


//
// -- navbar toggle menu button
//
.navbar-default .navbar-toggle {
    border-color: $border-color;
}

// -- hover
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: $border-color;
}

// -- hamburger menu button
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}


// -- full width sidebar menu items
.navbar-collapse {
    padding: 0;
}

.navbar-default .navbar-collapse > li > a {
    color: red;
}

ul {
    width: 100%;
}

.content {
    margin-top: 50px;
    padding: 10px;
    font-family: 'Muli', sans-serif;
    font-size: 150%;

}


@media (min-width: 768px) {

    .top-brand {
        position: absolute;
        z-index: 10000;
        top: 0;
        right: 0px;
        padding: 20px 0;
        width: 100%;
        text-align: center;
        // font-family: ‘Quattrocento’, serif;
        font-weight: 400;
    }

    .sidebar {
        right: 0;
        left: auto;
        // background-color: #000;
        display: table;
        height: 100%;
        width: 25%;
    }

    .sidebar-navbar-collapse ul li {
        float: none;
    }

    .navbar {
        display: table-cell;
        vertical-align: middle;
    }

    .content {
        margin-top: 0;
        padding: 25px;
    }

    .navbar-default .navbar-brand {
        // font-size: 180%;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 140%;
        line-height: 120%;
        padding-left: 10px;
    }


}

@media (min-width: 992px) {
    .content {
        left: 0;
        padding: 50px;
    }
}

@media (min-width: 1200px) {

    .navbar-default .navbar-brand {
        // font-size: 300%;
    }

    pre {
        font-size: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 180%;
        line-height: 120%;
        padding-left: 20px;
    }
}
