
@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');

h1, h2, h3, h4, h5 {
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    // font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

$sidebar-bg: #060;

$border-color: #040;


.sidebar {
    padding: 0;
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    border: 2px solid yellow!important;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

.sidebar, .navbar-header, .navbar-collapse {
  background-color: $sidebar-bg;
  border-color: $border-color;
}


.navbar-default .navbar-nav > li > a {
    color: #ddd;
    line-height: 160%;
    font-size: 150%;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #eee;
    background-color: #050;
}



.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $border-color;
}


.navbar-default .navbar-brand {
    color: #ddd;
    font-size: 150%;
    font-weight: 600;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #eee;
}


.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}

.navbar-collapse, .navbar-nav > li > a {
}

.navbar-nav {
    margin: 0;
}

.navbar-default {
    background-color: $sidebar-bg;
    background-image: none;
    border-color: $border-color;
}

.navbar-default .navbar-toggle {
    border-color: $border-color;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: $border-color;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.navbar-collapse {
    padding: 0;
}


ul {
    position: relative;
    width: 100%;
}

.content {
    margin-top: 50px;
    padding: 10px;
    font-family: 'Muli', sans-serif;
    font-size: 150%;
}

pre {
    font-size: 100%;
}


@media (min-width: 768px) {


    .top-brand {
        position: absolute;
        z-index: 10000;
        top: 0;
        right: 0px;
        height: 100px;
        line-height: 100px;
        padding: 0 15px;
        width: 100%;
        text-align: center;
        font-family: 'Muli', sans-serif;
        // font-weight: 300;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background-color: #000;
        display: table;
        height: 100%;

        width: 25%;
    }

    .sidebar-navbar-collapse ul li {
        float: none;
    }

    .navbar {
        display: table-cell;
        vertical-align: middle;
    }

    .content {
        margin-top: 0;
        padding: 25px;
    }

    .navbar-default .navbar-brand {
        font-size: 180%;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 200%;
        line-height: 120%;
    }
}

@media (min-width: 992px) {
    .content {
        left: 0;
        padding: 50px;
    }
}

@media (min-width: 1200px) {
    .navbar-default .navbar-brand {
        font-size: 300%;
    }
}
