.markdown-body pre.highlight {
    background-color: #222;
    color: #ddd;
    margin-left: 20px;
    // padding: 5px 10px;
}


.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 30px;
    margin-top: 24px;
    font-family: ‘Quattrocento’, serif;
}

.markdown-body h1 {
    color: #222;
    border-bottom: 1px solid #080;
    padding : 10px 0 10px;
}

.markdown-body h2 {
    margin: 30px 0;
    // text-decoration: underline;
    border-bottom: 1px solid #080;
    display: inline-block;
}

.markdown-body h3 {
    margin: 30px 0;
    margin-bottom: 30px;
    margin-top: 5px;
}


.markdown-body pre { margin: 20px 0 30px }

.markdown-body p { margin-left: 20px;}


.markdown-body a {
    color: #040;
}


.markdown-body img {
    width: 100%;
}


.markdown-body .article-heading {
    margin-left: 20px;
    font-size: 120%;
    font-family: ‘Quattrocento’, serif;
}



@media (min-width: 1200px) {

    .markdown-body pre {
        padding: 20px 30px;
    }
}
