<!DOCTYPE html>
<html lan="en">
{% include html_head.html %}
<body>

    <div class="jumbotron">
        <div class="container-fluid">

            <div class="pos-relative">
                <div id="flowerContainer">
                    {% for i in (1..24) %}
                        <div id="indexPetal{{ i }}" class="indexPetal"></div>
                    {% endfor %}
                </div>
            </div>

            <div class="index">
                <div>frian</div><div>@</div><div>github</div><div>.io</div>
            </div>

            <div class="indexnav" role="navigation" style="width: 100%!important;">
                <ul>
                    <li class="text-center"><a href="#">projects</a></li>
                    <li class="text-center"><a href="#">projects</a></li>
                    <li class="text-center"><a href="#">projects</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- {{ content }} -->
    <!-- <div class="container-fluid">
        <div class="row">

            <div class="content col-sm-9">
                {{ content }}
            </div>

            <div class="sidebar col-sm-3">
                <div class="navbar navbar-default" role="navigation">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">{{ site.title }}</span>
                    </div>

                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <span class="hidden-xs navbar-brand top-brand">{{ site.title }}</span>
                        <ul class="nav navbar-nav" id="sidenav01">

                            {% for p in site.pages %}
                                {% if p.name contains '.md' %}
                                    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div> -->

</body>
</html>
